.login {
  width: 100vh;
  height: 100vh;
}
.id {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
  bottom: 100%;
  width: 30%;
  height: 20px;
  padding: 20px;
}
.pw {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  bottom: 100%;
  padding: 20px;
  width: 30%;
  height: 20px;
}
.login-btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  bottom: 100%;
  padding: 20px;
  width: 30%;
  height: 20px;
  align-items: center;
  font-weight: bold;
  background-color: rgb(122, 17, 75);
  color: #fff;
}
.question {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 70%;
  left: 50%;
  bottom: 100%;
  padding: 20px;
  width: 30%;
  height: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}
